@import './vars';

header {
  width: 100%;
  height: 60px;
  background-color: $black;

  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 87px;
    height: 50px;
  }

}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;

  &__link {
    text-decoration: none;
    color: $white;
    font-weight: 400;
    transition: .4s;
    border-color: $blue;

    &:hover {
      color: $white-light;
      border-bottom: 1px solid $blue;
    }
  }

  &__items:last-child {
    background-color: $white;

    border: 3px solid $blue;
    border-radius: 5px;

    padding: 5px 10px;
    transition: .4s;
    cursor: pointer;

    &:hover {
      background-color: $white-teste;
    }

    a {
      color: $black;
      border-bottom: none;
    }
  }
}
