<header>
  <a href="/">
    <img src="https://www.maisbolao.com.br/images/logo.png"/>
  </a>

  <nav>
    <ul class="nav">
      <li class="nav__items">
        <a href="#" class="nav__link">
          Home
        </a>
      </li>

      <li class="nav__items">
        <a href="#" class="nav__link">
          Jogos
        </a>
      </li>

      <li class="nav__items">
        <a href="#" class="nav__link">
          Grupos
        </a>
      </li>

      <li class="nav__items">
        <a href="#" class="nav__link">
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>
