<section class="login">
  <div class="login__txt">
    <h1 class="login__title">
      Mais Bolão
    </h1>
    <p class="login__subtitle">
      Comece hoje seu bolão!
    </p>
  </div>

  <div class="login__group-input">
    <div class="login__item">
        <span class="login__title-item">
        E-mail
      </span>
      <input type="text" class="login__input" placeholder="E-mail"/>
    </div>

    <div class="login__item">
      <span class="login__title-item">
        Senha
      </span>
      <input type="password" class="login__input" placeholder="Senha"/>
    </div>

    <button type="submit" class="login__bnt-submit">Entrar</button>
  </div>


  <hr class="login__divider">

  <a href="#" class="login__cadastro">
    Ainda não está no bolão? Crie uma conta.
  </a>
</section>
