<section class="login">
  <div class="login__txt">
    <h1 class="login__title">
      Título Bolão
    </h1>
    <p class="login__subtitle">
      Descrição
    </p>
  </div>

  <div class="login__group-input">
    <div class="login__item">
      <span class="login__title-item">
        Login
      </span>
      <input type="text" class="login__input" />
    </div>

    <div class="login__item">
      <span class="login__title-item">
        Senha
      </span>
      <input type="password" class="login__input" />
    </div>
  </div>

  <button type="submit" class="login__bnt-submit">Entrar</button>

  <hr class="login__divider">

  <a href="#" class="login__cadastro">
    Criar conta
  </a>
</section>
