// Colors
$black-500: #181818;
$black-400: #252525;
$black-300: #323232;
$black-200: #3F3F3F;
$black-100: #4C4C4C;
$black-shadow: rgba(0, 0, 0, 0.25);

$blue-500: #0071bc;
$blue-400: #1984CC;
$blue-300: #3197DB;
$blue-200: #4AAAEB;
$blue-100: #62BDFA;

$white-500: #ffffff;
$white-400: #F4F4F4;
$white-300: #E9E8E8;
$white-200: #DEDDDD;
$white-100: #D3D1D1;




// Components
@mixin flex-items ($alignItems, $justifyContent, $flex-direction) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flex-direction;
}
